@font-face {
    font-family: 'avene';
    src: url('../fonts/Avene.otf') format('opentype');
}


body, html {
    height: 100%;
}


.no-border {
    border: 0;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}


.container {
    margin: 0;
    width: 100%;
    height: 100%;
}




.h3 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.h4 {
    padding: 5%;
}

.offer-img {
    min-width: 40%;
    width: 70%;
    max-width: 100%;
    height: auto;
}


.pricing-wrapper {
    text-align: center;
    border: solid 2px;
    border-color: rgb(238,92,160);
    margin-top: 1em;
    margin-bottom: 1em;
}

.pricing-header {
    font-size: 2em;
    padding: 0.5em;
}

.pricing-description {
    color: grey;
}

.pricing-table table {
    width: 80%;
    margin: 1% 10% 5% 10%;
}

.pricing-table td {
    padding: 3%;
    width: 50%;
}

.table-bordered th, .table-bordered td {
    border: 1px solid rgb(238,92,160) !important;
    vertical-align: middle;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(50,100,140);
}

.gallery-container {
    padding: 2%;
}

    .gallery-container:hover .overlay {
        opacity: 1;
    }

.image {
    width: 100%;
    height: auto;
}

.text {
    color: white;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.footer {
    background-color: rgb(16,23,57);
    color: white;
    min-height: 4em;
}


.footer-a i {
    font-size: 2em;
    color: white;
}

.footer-a i:hover {
    color: rgb(238,92,160);
}

/*parallax*/
.parallax {
    background-image: url('img_parallax.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-main {
    display: block;
    background-color: white;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    height: auto !important;
    width: 100% !important;
    margin: 0 auto !important;
    color: rgb(16,23,57);
    padding-top: 50px;  
}


h1, h2, h3, .h1, .h2, .h3 {
    font-family: avene;
}


.white-border {
    border: 2px solid rgb(16,23,57);
}

a, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}



.btn-default {
    color: white;
    background: rgb(16,23,57);
}


.header-background {
    background: rgb(16,23,57);
    color: white;
    width: 30%;
    border-radius: 200px;
    min-height: 4em;
}


.contant-elements .fa {
    font-size: 2em !important;
}

#about_logo_black {
    text-align: center;
    background-image: url('../img/logo_black.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    min-height: 30vh; 
}

#about_logo_black:hover {
    background-image: url('../img/wywrotka_logo.png');
}
.about-heading
{
    border: 1px solid rgb(16,23,57);
}

.about-heading h3 {
    color: rgb(238,92,160);
    text-align: center;
}

hr{
    border-top: rgb(16,23,57) 1px solid;
}